<h1>Categories</h1>

<a href="/categories/add">Add Category</a>
<br><br>

<table border="1">
<tr>
    <th>ID</th>
    <th>Category Name</th>
    <th>Actions</th>
</tr>

{% for cat in categories %}
<tr>
    <td>{{ cat[0] }}</td>
    <td>{{ cat[1] }}</td>
    <td>
    <a href="/categories/edit/{{ cat[0] }}">Edit</a> |
    <a href="/categories/delete/{{ cat[0] }}" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
    </td>
</tr>
{% endfor %}
</table>

<br>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="/">Back Home</a>