<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Order System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2">
</head>
<body>

    <div class="navbar">
    <h2>Restaurant Order System</h2>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/categories">Categories</a>
        <a href="/menu-items">Menu Items</a>
        <a href="/orders">Orders</a>
        <a href="/order-details">Order Details</a>
    </div>
    </div>

    <div class="container">
        <h1>Welcome to Your Management Dashboard</h1>

        <div class="grid">
            <a href="/test-db" class="card">Test Database</a>
            <a href="/order-details" class="card">View Orders</a>
            <a href="/customers" class="card">Manage Customers</a>
            <a href="/categories" class="card">Categories</a>
            <a href="/menu-items" class="card">Menu Items</a>
            <a href="/orders" class="card">Orders</a>
        </div>
    </div>

</body>
</html>