<h1>Orders</h1>

<a href="/orders/add">Create Order</a>
<br><br>

<table border="1">
<tr>
    <th>Order ID</th>
    <th>Order Date</th>
    <th>Status</th>
    <th>Total Amount</th>
    <th>Customer</th>
    <th>Staff</th>
    <th>Actions</th>
</tr>

{% for o in orders %}
<tr>
    <td>{{ o[0] }}</td>
    <td>{{ o[1] }}</td>
    <td>{{ o[2] }}</td>
    <td>{{ o[3] }}</td>
    <td>{{ o[4] }} {{ o[5] }}</td>
    <td>{{ o[6] }} {{ o[7] }}</td>
    <td>
        <a href="/orders/edit/{{ o[0] }}">Edit Status</a> |
        <a href="/orders/delete/{{ o[0] }}">Delete</a> |
        <a href="/orders/{{ o[0] }}/items">Manage Items</a>
    </td>
</tr>
{% endfor %}
</table>

<br>
<a href="/">Back Home</a>